@import url(https://fonts.google.com/specimen/Kumbh+Sans);
body{
    padding: 0;
    margin: 0;
    padding-top: 150px;
    font-family: Kumbh sans, sans-serif;
   background-color:hsl(185, 75%, 39%);
   background-image: url(/bg-pattern-bottom.svg);
   

}


.container{
    height: 360px;
    width: 330px;
    border: none;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
    background-color: white;
    /* background-image: url(/bg-pattern-card.svg);
    background-repeat: no-repeat; */
}

.description{
    background-image: url(/bg-pattern-card.svg);
    background-repeat: no-repeat;
    border-radius: 10px;
   line-height: 15px;
  

}
    
.profile{
    padding-top: 80px;
    
}

img{
    border-radius: 50px;
    border: 5px solid white;
  
}

h1{
    font-size: 18px;
}

span{
    font-weight: lighter;
    font-size: 18px;
    color: grey;
}
.location{
    color: grey;
    
}
.inner_border{
    background-color: rgb(219, 218, 218);
    padding: 0.5px;
    margin-top: 10px;
}
.statistics{
    display: flex;
    justify-content: space-around;
    padding: 15px;
   line-height: 4px;
   border-radius: 15px;
   border-top-color: solid black 1px;
}
.numbers{
    font-size: 18px;
    font-weight: 700px;
}
.words{
    font-size: 10px;
    color: grey;
    letter-spacing: 2px;
}